*{

    box-sizing:border-box;
}
body{

    background-color:#ebeff2;
}

.card{
    margin:30px 30px 20px 20px;
    padding:20px;
}
h3, h1{
    font-family: 'Gugi', cursive;
}


@media (min-width:700px){

    .flexes{
        display:flex;
    }
}

@media (max-width:699px){

    .card{
        width:100%   !important;
    }

}